
img {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;

}
.src {
  width: 100px;
  height: 100px;

}

h5 {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 10px;

  color: #3DD1CF;
}


 .container {
   font-family: serif;
   font-style: normal;
   color: black;
   margin-left: 10px;
   font-weight: 70px;
   margin-top: auto;
 }
 a {
   text-decoration: none;
 }

 a:hover {
   color: #3DD1CF;
}
