p {
  font-family: "Times New Roman", Times, serif;
  color: #f43971;
  font-size: 20px;
}

h5 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #8e0245;
}

b {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color:#490237
}
h5{
  font-family:  "Times New Roman", Times, serif;
}

h3 {
  font-family: "Times New Roman", Times, serif;
}
