p{
  color: #FF7300;
}
h1{
    color: #284BD4;
}
.subheader{
    color: #5DFC6B;
}
.menu-text{
    color: #FC5D5D;
}
h3{
    color: #6100C9;
}
.vvv{
    width: 600px;
}
.sss{
    width: 1600px;
}