nav {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  background-color: black;
}

ul {
  color: white;
}

li {
  display: inline-block;
  padding: 0 5px;
}

a {
  display: block;

  padding: 40px;

  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.news {
  color: #9e8310;
}

a:hover {
  color: #8a888f;
}
