li {
  font-family: 'Arial';
  display: block;

  padding: 0 5px;
}

a {
  display: block;

  padding: 5px;

  color: #314787;

  text-decoration: none;
}

a:hover {
  background-color: #d4dde4;
}
