* {
 box-sizing: border-box;
}

body {
font-family: 'Arial', sans-serif;
font-size: 10px;
}

.container {
  width: 250px;
  margin-left: 30px;
  margin-top: 30px;
}

img {
  width: 100%;
 }

 h1, h2 {
     margin: 0;
   }
 h1 {
  color: rgb(59, 191, 232);
 }

h2 {
  color: black;
}

 a {
   display: block;

  color: inherit;
   text-decoration: none;
 }
 a:hover {
color: rgb(59, 191, 232);
  }

  h2 strong {
  font-size: 30px;
}

h2 span {
display: block;

 font-family: 'CENTURY SCHOOLBOOK';
font-style: italic;
font-size: 20px;
 }




 .container2 {
   width: 250px;
   margin-left: 30px;
   margin-top: 30px;
 }

 img {
   width: 100%;
  }

  h1, h2 {
      margin: 0;
    }
  h1 {
   color: rgb(59, 191, 232);
  }

 h2 {
   color: black;
 }

  a {
    display: block;

   color: inherit;
    text-decoration: none;
  }
  a:hover {
 color: rgb(59, 191, 232);
   }

   h2 strong {
   font-size: 30px;
 }

 h2 span {
 display: block;

  font-family: 'CENTURY SCHOOLBOOK';
 font-style: italic;
 font-size: 20px;
  }

  .container3 {
    width: 250px;
    margin-left: 30px;
    margin-top: 30px;
  }

  img {
    width: 100%;
   }

   h1, h2 {
       margin: 0;
     }
   h1 {
    color: rgb(59, 191, 232);
   }

  h2 {
    color: black;
  }

   a {
     display: block;

    color: inherit;
     text-decoration: none;
   }
   a:hover {
  color: rgb(59, 191, 232);
    }

    h2 strong {
    font-size: 30px;
  }

  h2 span {
  display: block;

   font-family: 'CENTURY SCHOOLBOOK';
  font-style: italic;
  font-size: 20px;
   }
