nav {
  font-family: 'Impact', 'Arial Black', sans-serif;
  background: black;
}

li {
  display: inline-block;
  padding: 20px;
  border-left: 1px solid white;
}

li:first-child {
  border-left: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid white;
}
