* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #e6e6e6;
  font-family: 'Helvetica Neue', Circa, sans-serif
}

.main {
  margin: 20px auto 0;
  border-top: 4px solid #b88b58;
  padding-bottom: 20px;
  width: 1000px;

  background-color: white;
}

.header {
  font-family: serif;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;

  margin: 16px 20px 0;
}

.list {
  display: flex;
}

.rest {
  display: flex;

  flex: 1;
  flex-wrap: wrap;
}

.item {
  margin: 16px 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  height: 300px;

  position: relative;

  flex: 1;
}

.item-header {
  color: rgb(64, 64, 64);
  font-size: 29px;
  font-weight: bold;
}

.item-rest {
  flex: 1 0 30%;

  height: 140px;
}

.item-rest .item-header {
  font-size: 17px;
}

.item-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
}

.marker {
  background-color: #6bb347;
  height: 6px;
  width: 6px;

  border-radius: 50%;

  margin-right: 7px;
}

.time {
  color: #999;
  font-size: 11px;

  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 7px;
}
