
li{
  display: block;
  color: rgb(80, 133, 177)

}
a{
display: block;
color: rgb(53, 102, 175);
text-decoration: none;
font-size: 30px;
font-family: sans-serif;
}
a:hover span{
  font-family: arial;
  background-color: rgb(207, 211, 231);
  }
ul{
  list-style-type: square;
  line-height: 1.182;
  font-weight: normal;
  margin: auto;
}
