*{
  box-sizing: border-box;
}
body{
  font-family:sans-serif;
}
.news{
  background-image: url(images/iphone.jpg);

  height: 400px;
  width: 460px;

  background-size: cover;
  background-position: left;

  position: absolute;
}

.news:after{
  position: absolute;
  bottom: 0;

  padding: 0 0 20px;


}

h1,
h2 {
  margin:20px;
  color: white;

  position: absolute;
}

h1{
  margin-bottom: 10px;
  bottom: 120px;
  left: 20px;
}

h2{
  font-family: Times,sans-serif;
  bottom: 30px;
  left: 20px;

}

.container .share{
  color: white;

  background-repeat: no-repeat;
  background-position: left;
  background-image: url('images/share.svg');
  background-size: 20px;
  bottom: 20px;
  left: 20px;


position: absolute;

  padding-left: 25px;
}
