*{
  box-sizing: border-box;
}

.container{
  width:auto;
  height: 250px;
  background-image: url(images/1.jpg);
background-size: cover;
}

.header{
  background-clip: content-box;
background-color: rgba(82, 9, 12, 0.78);
position: relative;
top: 90px;
margin-left: auto;
margin-right: auto;

height: 70px;
width: auto;
}
 li{
   display: inline-block;
 }

a{
  font-family: 'Century Gothic',sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  display: block;
}
