.conteiner1{
    margin-left: 30%;
    
    
}
.conteiner2{
    margin-left: 30%;
    }
a{
  color:#1CC6FF;
  text-decoration: none;
}
a:hover{
  color: #003040;
}
 .text{
 	width: 200px;
 	
 }
 .italic{
 	font-style: italic;
 }
 .bold{
 	font-family: "Times New Roman", Times, serif;
 }
 p{
 	line-height: 18px;
 }
 	

 