body{
  background-color: #e6e6e6;
}
.conteiner{
  width: 1000px;
  background-color: #ffffff;
  margin: 30px auto 0 auto;
  border-top: 4px solid #B39729;




}
.header{
  font-size: 25px;
  font-family: serif;
  font-weight: 800;
  font-style: italic;
  color: #595959;

   padding: 16px 20px;

}
.conteiner2{
  width: 500px;
  height: 200px;
  background-color: #ffffff;
  margin: 0 0 0 11%;
  border-top: 1px solid #BABABA;
}
 
.bold{
  margin: 15px ; 
   font-size: 25px;
  font-family: "Arial Black", Gadget, sans-serif
  font-style: bold;
}
.conteiner3{
  width: 500px;
  height: 99px;
  background-color: #ffffff;
  margin: -109px 0 0 100%;
  border-top: 1px solid #BABABA;
  font-size: 17px;
  color: #595959;

}

.conteiner4{
  width: 500px;
  height: 100px;
  background-color: #ffffff;
  margin: 0 0 0 100%;
  border-top: 1px solid #BABABA;
  font-size: 17px;
  color: #595959;

}
.text{
  margin: 10px;

}
.time{
  font-size:10px;