.contain {
  width: 20%;
  color: black;
}
.lol {
  color: #42c4c4;
  text-transform: none;
  }
.kek {
  text-transform: uppercase;
  font-family: Georgia, serif, bold;
}
.an {
  text-transform: none;
}


a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #42c4c4;
}
