
body {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #2698c2;
}

.container {
  width: 250px;
  margin-left: 20px;
}

img {
  width: 100%;
}

h1, h3 {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h3 {
  color: #47acc7;
}

h2 {
  color: black;
}

a:hover {
  color: #47acc7;
}

strong {
  font-size: 30px;
}

span {
  display: block;
  font-family: 'CENTURY SCHOOLBOOK';
  font-style: italic;
  font-size: 20px;
}
