html{
  height: 100%
}
body {
    color: #000;
    direction: ltr;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 25px;
    line-height: 1.700;
  font-weight: normal;
}
nav{
  background-color: white;
  padding: 20px;
}
ul{
  list-style: none;
  font-family: arial;
}
li a{
  text-decoration: none;
  color: #16567e;
  padding-bottom: 10px;
  padding-top: 10px;
}
