img {
  height: 410px;
  width: 400px;
  margin: 20px;
}
li {
  display: block;
margin-bottom: 10px;
}
a {
font-size: 25px;
font-family: "Tahoma", Verdana, sans-serif;
color: rgb(17, 99, 102);
text-decoration: none;
}
.container {
  color: black;
  font-size: 30px;
font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.container:hover {
color: rgb(17, 99, 102);
}

.container2 {
  font-weight: normal;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
